@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (max-width: 767px) { 
    .xs-mt {
        margin-top: 8px;
    }
}

button,
input,
optgroup,
select,
textarea {
  padding: 3px;
  line-height: inherit;
  color: inherit;
}