@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (max-width: 767px) { 
    .xs-grid-cols-none {
      grid-template-columns: none;
    }
    .xs-p-2 {
      padding-left: 8px;
      padding-right: 8px;
    }
    .hidden-xs {
      display: none;
    }
    .visible-xs {
      display: block;
    }
    .xs-mt {
        margin-top: 8px;
    }
    .not-rounded-xs {
      border-radius: 0%;
    }
    .border-bottom-xs {
      border-bottom: 1px solid #e4e4e4;
    }
    .ml-0-xs {
      margin-left: 0;
    }
}

button,
input,
optgroup,
select,
textarea {
  padding: 3px;
  line-height: inherit;
  color: inherit;
}