@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@media (max-width: 767px) { 
  .bg {
    height: fit-content;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
    .xs-grid-cols-none {
      grid-template-columns: none;
    }
    .xs-p-2 {
      padding-left: 8px;
      padding-right: 8px;
    }
    .hidden-xs {
      display: none;
    }
    .visible-xs {
      display: block;
    }
    .xs-mt {
        margin-top: 8px;
    }
    .not-rounded-xs {
      border-radius: 0%;
    }
    .border-bottom-xs {
      border-bottom: 1px solid #e4e4e4;
    }
    .ml-0-xs {
      margin-left: 0;
    }
    .xs-width-full {
      width: 100%;
    }
    .pt-12-sm {
      padding-top: 0 !important;
    }
}

.pt-12-sm {
  padding-top: 3rem;
}

.bg {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.dot-red {
  height: 8px;
  width: 8px;
  background-color: rgb(179, 5, 5);
  border-radius: 50%;
  display: inline-block;
}

.dot-green {
  height: 8px;
  width: 8px;
  background-color: rgb(48, 185, 30);
  border-radius: 50%;
  display: inline-block;
}

button,
input,
optgroup,
select,
textarea {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 8px;
  padding-left: 8px;
  line-height: inherit;
  color: inherit;
}